* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  height: 100vh;
  background-color: darkgrey;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 0.75fr;
  grid-template-rows: 1fr 4fr 1fr;
  height: 100%;
  margin: 0px;
}

.icon {
  position: relative;
  filter: invert(100%) sepia(96%) saturate(15%) hue-rotate(212deg) brightness(104%) contrast(104%);
}

.top {
  top: 5px;
}

.pfp {
  border-radius: 50%;
}

.container > div{
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 0px;
}

#Header {
  grid-column: 2/-1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 20px;
  align-items: center;
  padding: 0px;
  color: black;
  background-color: white;
}

.headerIcon {
  filter: brightness(0) saturate(100%);
}

#searchLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

#searchBar {
  display: flex;
}

#searchBar img {
  top: 0px;
}

#search {
  border-radius: 10px;
  border: 0;
  width: 250px;
  align-self: center;
  background-color: lightgray;
}

#userOptions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.userTools {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.userTools img {
  position: relative;
  margin-right: 10px;
}

.userTools > div {
  align-items: center;
}

.userTools ul {
  display: flex;
  gap: 20px;
}

.userTools li {
  background-color: #C3423C;
  color: white;
  border-radius: 10px;
  align-self: center;
  width: 100px;
  height: 25px;
}

p {
  justify-self: start;
  font-size: small;
  height: auto;
}

.userTools > div {
  display: flex;
}

#Sidebar {
  font-size: 20px;
  grid-row: 1/-1;
  background-color:#414141;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}

#dashHead {
  font-size: 40px;
}

#Sidebar > div {
  color: white;
  place-content: center;
  justify-content: start;
}

#Nav {
  grid-row: 2/-1;
  background-color: lightgrey;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  font-size: 20px;
}

#Nav div {
  place-content: start;
  text-align: start;
}

#Nav ul {
  height: 350px;
  padding: 10px 25px;
  background-color: #414141;
  border-radius: 5px;
}

#Announcements ul{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 15px;
}

#Announcements li{
  border-bottom: 1px solid black;
  padding: 10px;
}

#Announcements li:last-child{
  border-bottom: none;
}

#Trending ul{
  display: grid;
  justify-content: center;
  align-items: center;
}

#Trending li {
  display: flex;
}

#Articles {
  background-color: lightgrey;
  grid-row: 2/-1;
  grid-column: 2/-2;
  display: grid;
  grid-auto-flow: row;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: black lightgrey;
  grid-template-columns: repeat(auto-fit, minmax(350px, 0.75fr));
  grid-auto-rows: 0.2fr;
  font-size: medium;
  gap: 25px;
  padding: 20px;
}

.project {
  text-overflow: clip;
  padding: 10px;
  background-color: white;
  color: black;
  box-shadow: #C3423C -5px 0px;
  border-radius: 10px;
}

.content {
  color: rgb(58, 58, 58);
  padding: 5px;
  overflow-wrap: break-word;
  max-height: 150px;
  overflow: auto;
  margin: 20px 0;
}
.projectIcons {
  display: flex;
  justify-content: end;
  padding-right: 20px;
  gap: 20px;
  filter: brightness(0) saturate(100%);
}

#Footer {
  grid-column: 1/-1;
  background-color: darkgoldenrod;
  font-size: 18px;
  place-content: center;
}

